.category__section {
        display: block;
        font-size: 20px;
        margin-bottom: 10px;
    }

    .category__element {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
        margin-left: 20px;
    }

    .pl-2 {
        padding-left: 30px;
    }

    .pl-3 {
        padding-left: 60px;
    }